In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_csv('data/HR_comma_sep.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [4]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [5]:
df['average_montly_hours_100'] = df['average_montly_hours'] / 100.0        
df.left.value_counts() / len(df)

0    0.761917
1    0.238083
Name: left, dtype: float64

In [6]:
df_dummies = pd.get_dummies(df[['sales', 'salary']])
df_dummies.head()

,sales_IT,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,0,1,0

In [7]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary', 'average_montly_hours_100'],
      dtype='object')

In [8]:
X = pd.concat([df[[
    'satisfaction_level', 'last_evaluation', 'number_project',
       'time_spend_company', 'Work_accident',
       'promotion_last_5years', 'average_montly_hours_100'
]], df_dummies], axis=1).values
y = df['left'].values

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
X.shape

(14999, 20)

In [15]:
from keras.models import Sequential 
from keras.layers import Dense 
from keras.optimizers import Adam
model = Sequential()
model.add(Dense(1, input_dim=20, activation='sigmoid'))
model.compile(Adam(lr=0.5), 'binary_crossentropy', metrics=['accuracy'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 1)                 21
=================================================================
Total params: 21
Trainable params: 21
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
11999/11999 [==============================] - 1s 60us/step - loss: 0.5429 - acc: 0.7611
Epoch 2/10
11999/11999 [==============================] - 1s 59us/step - loss: 0.5543 - acc: 0.7586
Epoch 3/10
11999/11999 [==============================] - 1s 59us/step - loss: 0.5413 - acc: 0.7587
Epoch 4/10
11999/11999 [==============================] - 1s 58us/step - loss: 0.5211 - acc: 0.7688
Epoch 5/10
11999/11999 [==============================] - 1s 58us/step - loss: 0.5489 - acc: 0.7625
Epoch 6/10
11999/11999 [==============================] - 1s 58us/step - loss: 0.5363 - acc: 0.7649
Epoch 7/10
11999/11999 [==============================] - 1s 65us/step - loss: 0.6153 - acc: 0.7538
Epoch 8/10
11999/11999 [==============================] - 1s 63us/step - loss: 0.5541 - acc: 0.7658
Epoch 9/10
11999/11999 [==============================] - 1s 76us/step - loss: 0.5707 - acc: 0.7606
Epoch 10/10
11999/11999 [==============================] - 1s 59us/step - loss: 0.5800 - acc: 0.7586

In [18]:
y_test_pred = model.predict_classes(X_test)
y_test_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int32)

In [20]:
from sklearn.metrics import confusion_matrix, classification_report

In [21]:
def pretty_confusion_matrix(y_true, y_pred, labels=["False", "True"]):
    cm = confusion_matrix(y_true, y_pred)
    pred_labels = ['Predicted ' + l for l in labels]
    df = pd.DataFrame(cm, index=labels, columns=pred_labels)
    return df

In [23]:
pretty_confusion_matrix(y_test, y_test_pred, labels=['Stay', 'Leave'])

       Predicted Stay  Predicted Leave
Stay             2271               41
Leave             648               40

In [28]:
print(classification_report(y_test, y_test_pred))

             precision    recall  f1-score   support

          0       0.78      0.98      0.87      2312
          1       0.49      0.06      0.10       688

avg / total       0.71      0.77      0.69      3000

In [25]:
from keras.wrappers.scikit_learn import KerasClassifier

In [27]:
def build_logistic_regression_model():
    model = Sequential()
    model.add(Dense(1, input_dim=20, activation='sigmoid'))
    model.compile(Adam(lr=0.5), 'binary_crossentropy', metrics=['accuracy'])
    return model

In [30]:
model = KerasClassifier(build_fn=build_logistic_regression_model,
               epochs=10, verbose=0)

In [31]:
from sklearn.model_selection import KFold, cross_val_score

In [32]:
cv = KFold(5, shuffle=True)
scores = cross_val_score(model, X, y, cv=cv)

print("The cross validation accuracy is {:0.4f} +- {:0.4f}".format(scores.mean(), scores.std()))

The cross validation accuracy is 0.7690 +- 0.0120

In [33]:
scores

array([0.78233333, 0.78      , 0.76333333, 0.77      , 0.74924975])